/* PRIMARY COLOURS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a {
  color: unset;
}
a:focus {
  outline: thin dotted;
}
a:visited {
  color: unset;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
  color: unset;
  cursor: pointer;
}
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a span {
  color: unset;
}
.post table th,
.post table td {
  border: inherit;
}
/*
-----------------------------
END RESET CSS
-----------------------------
*/
/*
-----------------------------
START TYPEKIT
-----------------------------
*/
@font-face {
  font-family: 'Cochin-LT-Std';
  src: url('../typekit/CochinLTStd.eot');
  src: url('../typekit/CochinLTStd.eot?#iefix') format('embedded-opentype'), url('../typekit/CochinLTStd.woff2') format('woff2'), url('../typekit/CochinLTStd.woff') format('woff'), url('../typekit/CochinLTStd.ttf') format('truetype'), url('../typekit/CochinLTStd.svg#CochinLTStd') format('svg');
  font-weight: 500;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Cochin-LT-Std', helvetica, sans-serif;
  font-size: 42px;
  letter-spacing: 6px;
  line-height: 49px;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 22px;
    letter-spacing: 3.5px;
    line-height: 32px;
  }
}
@media screen and (max-width: 414px) {
  h1 {
    font-size: 20px;
  }
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0.94px;
  line-height: 40px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 28px;
    letter-spacing: 0.8px;
    line-height: 34px;
  }
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 25px;
    letter-spacing: 0.7px;
    line-height: 28px;
  }
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
}
@media screen and (max-width: 1024px) {
  h4 {
    font-size: 20px;
    letter-spacing: 0.6px;
    line-height: 22px;
  }
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  h6 {
    font-size: 12px;
  }
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 39px;
}
@media screen and (max-width: 767px) {
  p {
    font-size: 17px;
    line-height: 24px;
  }
}
i {
  font-style: italic!important;
}
/*
-----------------------------
END TYPEKIT
-----------------------------
*/
/*
-----------------------------
START GENERAL STYLES
-----------------------------
*/
section {
  position: relative;
}
.container {
  position: relative;
}
.clearfix {
  clear: both;
}
section {
  width: 100%;
}
.no-margin {
  margin-left: 0;
  margin-right: 0;
}
#myModal {
  z-index: 10;
}
.modal-open #myModal {
  z-index: 999;
}
.modal-open .modal {
  background: rgba(0, 0, 0, 0.7);
}
.modal-dialog {
  max-width: 1600px;
  margin: 30px auto;
}
.modal-dialog .modal-body {
  position: relative;
  padding: 0px;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .modal-dialog {
    width: 100%;
    max-width: 1170px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
  .modal-dialog {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .modal-dialog {
    width: 100%;
    max-width: 100%;
  }
}
.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #ffffff;
  opacity: 1;
  background: url('../images/close-icon.png') no-repeat 0 0;
  background-size: 15px;
}
.close span {
  visibility: hidden;
}
.close:focus,
.close:hover {
  outline: none;
}
.scroll-animations .animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media screen and (min-width: 960px) {
  .hidden-lg,
  .hidden-md {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  .hidden-xs,
  .hidden-sm {
    display: none;
  }
}
/*
-----------------------------
END GENERAL STYLES
-----------------------------
*/
/*
-----------------------------
START BUTTON STYLES
-----------------------------
*/
.btn {
  height: 60px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  outline: none;
}
.btn:hover,
.btn:focus {
  outline: none;
}
.btn.btn-primary {
  width: 100%;
  max-width: 330px;
  color: #D0A36E;
  border: solid 2px #000000;
  background-color: rgba(0, 0, 0, 0.25);
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  cursor: pointer;
  background-color: #000000;
}
.btn.btn-secondary {
  width: 100%;
  max-width: 330px;
  color: #FFFFFF;
  margin: 0 auto;
  background-color: #000000;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  cursor: pointer;
  background-color: #000000;
}
.btn#contact-us-btn {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/*
-----------------------------
END BUTTON STYLES
-----------------------------
*/
/*
-----------------------------
START FORM STYLES
-----------------------------
*/
.scroll-animations .animated {
  visibility: hidden;
}
/*
-----------------------------
END FORM STYLES
-----------------------------
*/
#rotateScreen {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 860px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #rotateScreen {
    display: block;
    position: fixed;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #000000;
    background-size: cover;
    will-change: transform;
    transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  }
  #rotateScreen h1,
  #rotateScreen h2 {
    color: #ffffff;
    text-align: center;
    font-style: normal;
    opacity: 0;
    margin: 0 auto 20px auto;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
  }
  #rotateScreen h1 {
    position: relative;
    top: 40px;
    font-size: 4vw;
    line-height: 4vw;
    transition-delay: 1.4s;
  }
  #rotateScreen h2 {
    position: relative;
    top: 80px;
    font-size: 3vw;
    transition-delay: 1.6s;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(16deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  #rotateScreen span {
    width: 64px;
    height: 64px;
    display: block;
    margin: -14vw auto 55vw auto;
    opacity: 0;
    position: relative;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    transition-delay: 1.2s;
  }
  #rotateScreen span:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    width: 64px;
    height: 64px;
    display: block;
    background: url(../images/rotate-display-icon2.svg) no-repeat top left;
    animation: rotate 2s infinite forwards;
    animation-play-state: running;
  }
  #rotateScreen span:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 4;
    width: 64px;
    height: 64px;
    display: block;
    background: url(../images/rotate-display-icon.svg) no-repeat top left;
  }
  #rotateScreen.active {
    opacity: 1;
    z-index: 9999;
    display: block;
  }
  #rotateScreen.active h1,
  #rotateScreen.active h2 {
    opacity: 1;
    top: 0;
  }
  #rotateScreen.active span {
    margin: 11vw auto 3vw auto;
    opacity: 1;
  }
}
header {
  width: 100%;
  background: #FFFFFF; 
  max-height: 300px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(240,240,240,0.5);
  -moz-box-shadow: 0px 5px 15px 0px rgba(240,240,240,0.5);
  box-shadow: 0px 5px 15px 0px rgba(240,240,240,0.5);
}

header div {
  margin: 0 auto;
}

header div img {
  object-fit: cover;
  max-height: 300px;
  display: block; 
  margin: 0 auto;
}

@media screen and (min-width: 1025px) {
  #hero-banner-section .hero-banner-slider .hero-slide .container h1 {
    font-size: 36px;
    letter-spacing: 5px;
  }
}
#hero-banner-section .hero-banner-slider .hero-slide .container #contact-us-btn {
  margin-top: 30px;
}
#hero-banner-section .hero-banner-slider #slide1 {
  background: url('../images/hero-images/banner-01.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide2 {
  background: url('../images/hero-images/banner-02.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide3 {
  background: url('../images/hero-images/banner-03.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide4 {
  background: url('../images/hero-images/banner-04.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide5 {
  background: url('../images/hero-images/banner-05.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide6 {
  background: url('../images/hero-images/banner-06.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider ul.slick-dots {
  max-width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li {
  width: calc(100% / 6);
  height: 50px;
  float: left;
  outline: none;
  position: relative;
  list-style: none;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:focus,
#hero-banner-section .hero-banner-slider ul.slick-dots li:hover {
  outline: none;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li a.pager__item {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  position: absolute;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li a.pager__item {
    width: 78px;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: right;
    padding: 0 12px;
  }
}
#hero-banner-section .hero-banner-slider ul.slick-dots li a.pager__item:after {
  width: 2px;
  height: 34px;
  position: absolute;
  z-index: 999;
  left: 50px;
  top: 30px;
  content: '';
  background: #ffffff;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(1) a {
  right: -30px;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(1) a {
    right: -28px;
  }
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(2) a {
  right: -24px;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(2) a {
    right: -26px;
  }
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(3) a {
  right: -24px;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(3) a {
    right: -26px;
  }
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(4) a {
  right: -28px;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(5) a {
  right: -26px;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(6) a {
  right: 0px;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(6) a {
    right: -16px;
  }
}
.progress {
  width: 100%;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  overflow: hidden;
  background-color: #272727;
  background-image: linear-gradient(to right, #D0A36E, #D0A36E);
  background: -moz-linear-gradient(#D0A36E 0%, #D0A36E 100%);
  background: -webkit-linear-gradient(#D0A36E 0%, #D0A36E 100%);
  background: linear-gradient(#D0A36E 0%, #D0A36E 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="@col-gold", endColorstr="@col-gold", GradientType=1);
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}
section#introduction-section {
  padding: 105px 0 ;
  background: #F4F4F4;
}
section#introduction-section p {
  width: 100%;
  max-width: 1019px;
  font-family: 'Montserrat', sans-serif;
  color: #272727;
  font-size: 25px;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
}
@media screen and (max-width: 766px) {
  section#introduction-section p {
    width: 100%;
    font-size: 17px;
    line-height: 26px;
    padding: 0 15px;
  }

  header div img {
    width:100%
  }
}
@media screen and (max-width: 766px) {
  section#introduction-section {
    padding: 48px 0 ;
  }
}
section#estate-master-plan-section {
  padding: 105px 0 ;
  background: #ffffff;
}
section#estate-master-plan-section h2 {
  text-transform: uppercase;
}
section#estate-master-plan-section #view-site-location-btn {
  margin: 50px auto;
}
section#estate-master-plan-section #EstateModal {
  border: none;
}
section#estate-master-plan-section #EstateModal .modal-content {
  width: 100%;
  max-width: 1278px;
  margin: 0 auto;
  border: none;
  background: transparent;
}
@media screen and (max-width: 767px) {
  section#estate-master-plan-section #EstateModal .modal-content {
    max-width: 100%;
  }
}
section#estate-master-plan-section #EstateModal .modal-content .modal-header {
  padding: 0 0 15px 0;
  border: none;
  background: transparent;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-header h3 {
  text-transform: uppercase;
  color: #ffffff;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-header button.close {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 300;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-body figure {
  width: 100%;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-body figure img {
  width: 100%;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-footer {
  border-top: none;
  background: transparent;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-footer #download-site-location-btn {
  width: 310px;
  margin: 40px auto 0 auto;
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
  section#estate-master-plan-section #EstateModal {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
  section#estate-master-plan-section #EstateModal {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media screen and (max-width: 560px) {
  section#estate-master-plan-section #EstateModal {
    max-width: 100%;
    padding: 0 15px;
  }
  section#estate-master-plan-section #EstateModal .modal-header button.close {
    right: 0;
  }
}
#saota-section {
  width: 100%;
  padding: 60px 0;
  background: #272727;
  overflow: hidden;
}
#saota-section p {
  width: 100%;
  max-width: 914px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 36px;
  margin: 0 auto;
}
section#gallery-section {
  width: 100%;
}
section#gallery-section .container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}
@media screen and (max-width: 767px) {
  section#gallery-section .container {
    max-width: unset;
    padding: inherit;
  }
}
section#gallery-section .gallery-slider button.slick-arrow {
  width: 80px;
  height: 80px;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  border: none;
  outline: none;
}
@media screen and (max-width: 767px) {
  section#gallery-section .gallery-slider button.slick-arrow {
    width: 60px;
    height: 60px;
    font-size: 16px;
  }
}
section#gallery-section .gallery-slider button.slick-arrow:focus {
  outline: none;
}
section#gallery-section .gallery-slider button.slick-arrow.slick-prev {
  right: 225px;
  background-color: #424242;
}
@media screen and (max-width: 767px) {
  section#gallery-section .gallery-slider button.slick-arrow.slick-prev {
    right: 0;
  }
}
section#gallery-section .gallery-slider button.slick-arrow.slick-next {
  right: 305px;
  background: #333333;
}
@media screen and (max-width: 767px) {
  section#gallery-section .gallery-slider button.slick-arrow.slick-next {
    right: 60px;
  }
}
section#gallery-section .gallery-slider .gallery-slide {
  width: 100%;
  max-height: 1056px;
}
@media screen and (max-width: 767px) {
  section#gallery-section .gallery-slider .gallery-slide {
    max-width: 100%;
  }
}
section#gallery-section .gallery-slider .gallery-slide figure img {
  width: 100%;
  object-fit: contain;
}
section#content-main-section {
  width: 100%;
  max-width: 660px;
  padding: 75px 0 35px;
  margin: 0 auto;
}
section#contact-us-section {
  width: 100%;
  max-width: 660px;
  padding: 0 0 75px;
  margin: 0 auto;
}
section#contact-us-section h2 {
  text-transform: uppercase;
}
section#contact-us-section p,
section#content-main-section p {
  max-width: 660px;
  padding: 0 20px;
  color: #272727;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
}
section#contact-us-section .contact-info {
  width: 100%;
  float: left;
  padding: 0 0 20px 0;
}
section#contact-us-section .contact-info label {
  float: right;
}
section#contact-us-section .contact-info label figure {
  padding-right: 10px;
}
section#contact-us-section .contact-info label,
section#contact-us-section .contact-info a {
  color: #272727;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 28px;
}
section#contact-us-section .contact-info label figure,
section#contact-us-section .contact-info a figure {
  padding-right: 10px;
}
@media screen and (max-device-width: 767px) {
  section#contact-us-section .contact-info label,
  section#contact-us-section .contact-info a {
    width: 100%;
    text-align: left;
    display: inline;
    margin: 5px 0;
  }
}
section#contact-us-section form#contact-us .row {
  display: block;
  margin: 0 0 30px 0;
  clear: both;
}
@media screen and (max-width: 767px) {
  section#contact-us-section form#contact-us .row {
    margin: 0 0 15px 0;
  }
}
section#contact-us-section form#contact-us .row div {
  padding: 0;
  margin: 0 0 30px 0;
}
@media screen and (max-width: 767px) {
  section#contact-us-section form#contact-us .row div {
    margin: 0 0 15px 0;
  }
}
section#contact-us-section form#contact-us .row div.col-md-6.col-lg-6 {
  width: 48%;
  max-width: 48%;
}
@media screen and (max-width: 767px) {
  section#contact-us-section form#contact-us .row div.col-md-6.col-lg-6 {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-device-width: 767px) {
  section#contact-us-section form#contact-us .row div input[type="text"] {
    width: 100%;
  }
}
section#contact-us-section form#contact-us input#last-name {
  float: right;
}
section#contact-us-section form#contact-us input[type="text"],
section#contact-us-section form#contact-us input[type="email"],
section#contact-us-section form#contact-us input[type="tel"] {
  width: 100%;
  height: 50px;
  color: #272727;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 50px;
  padding: 0 20px;
  border: solid 2px #E1E1E1;
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
section#contact-us-section form#contact-us textarea {
  width: 100%;
  height: 140px;
  color: #272727;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 50px;
  padding: 0 20px 20px 20px;
  border: solid 2px #E1E1E1;
  background: #ffffff;
}
section#contact-us-section form#contact-us span.char-count {
  font-family: "Josefin Sans";
  color: #9A9A9A;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: right;
}
section#contact-us-section form#contact-us input[type="submit"] {
  margin-top: 40px;
}
section#contact-us-section form#contact-us .errorMessage {
  background-color: #e66262;
  border: #AA4502 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
section#contact-us-section form#contact-us .successMessage {
  background-color: #9fd2a1;
  border: #91bf93 1px solid;
  padding: 5px 10px;
  color: #3d503d;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
}
section#contact-us-section form#contact-us span.info {
  font-family: "Josefin Sans";
  color: #9A9A9A;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 28px;
  color: #e66262;
}
@media screen and (max-device-width: 767px) {
  #thankyouModal .modal-dialog {
    width: 85%;
    margin: 10% auto;
  }
}
#thankyouModal .modal-content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
#thankyouModal .modal-header h3 {
  text-align: center;
  font-weight: bold;
}
#thankyouModal .modal-body {
  padding: 45px;
}
#thankyouModal .modal-body p {
  text-align: center;
}
section#video-section {
  height: 615px;
  background: url(../images/The-Ridge-Estate-video-section.jpg) no-repeat center center;
}
section#video-section button#play-btn {
  width: 80px;
  height: 80px;
  border: none;
  display: block;
  margin: 240px auto 50px auto;
  background: transparent;
  outline: none;
}
section#video-section button#play-btn:focus {
  outline: none;
}
section#video-section button#play-btn figure {
  width: 80px;
  height: 80px;
}
section#video-section h3 {
  font-family: 'Cochin-LT-Std', helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  -webkit-text-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
}
#VideoModal .modal-content {
  background: transparent;
}
#VideoModal .modal-content .modal-header {
  background: transparent;
  border: none;
}
#VideoModal .modal-content .modal-header .close {
  right: 0;
}
footer {
  padding: 90px 0;
  background: #000000;
}
footer p {
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
}
footer p#copyright {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  padding: 0;
}
