@import "variables.less";
@import "mixins.less";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a{color: unset;}

a:focus {
    outline: thin dotted;
}

a:visited{color: unset;}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
    color: unset;
    cursor: pointer;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {vertical-align: middle;}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {resize: vertical;}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a span{color: unset;}

.post{
    table th,
    table td{border:inherit;}
}

/*
-----------------------------
END RESET CSS
-----------------------------
*/

/*
-----------------------------
START TYPEKIT
-----------------------------
*/


@font-face {
    font-family: 'Cochin-LT-Std';
    src: url('../typekit/CochinLTStd.eot');
    src: url('../typekit/CochinLTStd.eot?#iefix') format('embedded-opentype'),
        url('../typekit/CochinLTStd.woff2') format('woff2'),
        url('../typekit/CochinLTStd.woff') format('woff'),
        url('../typekit/CochinLTStd.ttf') format('truetype'),
        url('../typekit/CochinLTStd.svg#CochinLTStd') format('svg');
    font-weight: 500;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{margin:0;padding:0;}

h1{
  font-family: @CochinLTStd;
  font-size: 42px;
  letter-spacing: 6px;
  line-height: 49px;

  @media screen and (max-width: 1024px) {
    font-size: 22px;
    letter-spacing: 3.5px;
    line-height: 32px;
  }

  @media screen and (max-width: 414px) {
    font-size: 20px;
  }
}

h2{
  font-family: @JosefinSansReg;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0.94px;
  line-height: 40px;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 28px;
    letter-spacing: 0.8px;
    line-height: 34px;
  }

}

h3{
  font-family: @JosefinSansReg;
  font-size:30px;
  font-weight: 300;

  @media screen and (max-width: 1024px) {
    font-size: 25px;
    letter-spacing: 0.7px;
    line-height: 28px;
  }
}

h4{
  font-family: @JosefinSansReg;
  font-size:26px;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
    letter-spacing: 0.6px;
    line-height: 22px;
  }
}

h5{
  font-family: @JosefinSansReg;
  font-size:22px;
}

h6{
  font-family: @JosefinSansReg;
    font-size:20px;
    @media screen and (max-width: 1024px) {
        font-size:12px;
    }
}

p{
  font-family: @JosefinSansReg;
  font-size: 20px;
  font-weight: 300;
  line-height: 39px;

   @media screen and (max-width: 767px) {
       font-size:17px;
       line-height: 24px;
   }
}

i{font-style: italic!important;}

/*
-----------------------------
END TYPEKIT
-----------------------------
*/

/*
-----------------------------
START GENERAL STYLES
-----------------------------
*/

section{position: relative;}

.container{
    position: relative;
}
.clearfix{clear: both;}

section{width: 100%;}

.no-margin{margin-left:0;margin-right:0;}

#myModal{z-index: 10;}
.modal-open #myModal{z-index: 999;}

.modal-open .modal{background: rgba(0,0,0,0.7);}
.modal-dialog {
    max-width: 1600px;
    margin: 30px auto;

    .modal-body {position:relative;padding:0px;}

    @media screen and (min-width: 1025px) and (max-width: 1440px) {
        width: 100%;
        max-width: 1170px;
    }

    @media screen and (min-width: 900px) and (max-width: 1024px) {
        width: 90%;
        max-width: 90%;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
    }
}

.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:@col-white;
    opacity:1;
    background: url('../images/close-icon.png') no-repeat 0 0;
    background-size: 15px;

    span{visibility: hidden;}

    &:focus,&:hover{outline:none;}
}

.scroll-animations .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 .hidden-lg,
 .hidden-md{
    @media screen and (min-width: 960px) {
        display:none;
    }
 }

 .hidden-xs,
 .hidden-sm{
    @media screen and (max-width: 959px) {
        display:none;
    }
 }

/*
-----------------------------
END GENERAL STYLES
-----------------------------
*/

/*
-----------------------------
START BUTTON STYLES
-----------------------------
*/

.btn{
    height: 60px;
    display: block;
    font-family:@JosefinSansReg;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor:pointer;
    .border-radius(2px);
    .transition(all ease 0.5s);
    outline: none;

    &:hover,
    &:focus{
        outline:none;
    }

    &.btn-primary{
        width:100%;
        max-width:230px;
        color: @col-gold;
        border:solid 2px @col-gold;
        background-color: rgba(0,0,0,0.25);
        
        &:hover,
        &:focus{cursor:pointer;background-color: rgba(0,0,0,1);}
    }

    &.btn-secondary{
        width:100%;
        max-width:330px;
        color: @col-white;
        margin:0 auto;
        background-color: @col-duck-blue;
        
        &:hover,
        &:focus{cursor:pointer;background-color: lighten(@col-duck-blue, 5%);}
    }

    &#contact-us-btn{
        position: absolute;
        top:60%;
        left: 0;
        right:0;
        margin:0 auto;
    }
}

/*
-----------------------------
END BUTTON STYLES
-----------------------------
*/

/*
-----------------------------
START FORM STYLES
-----------------------------
*/

.scroll-animations .animated {
visibility: hidden;
}

/*
-----------------------------
END FORM STYLES
-----------------------------
*/

#rotateScreen{display: none;}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 860px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    #rotateScreen {
        display: block;
        position: fixed;
        opacity: 0;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: #000000;
        background-size: cover;
        will-change: transform;
        transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;

        h1,
        h2 {
            color: #ffffff;
            text-align: center;
            font-style: normal;
            opacity: 0;
            margin: 0 auto 20px auto;
            transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
        }

        h1 {
            position: relative;
            top: 40px;
            font-size: 4vw;
            line-height: 4vw;
            transition-delay: 1.4s;
        }

        h2 {
            position: relative;
            top: 80px;
            font-size: 3vw;
            transition-delay: 1.6s;
        }

        @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            50% {
              transform: rotate(16deg);
            }
            100% {
              transform: rotate(0deg);
            }
        }

        span {
            width: 64px;
            height: 64px;
            display: block;
            margin: -14vw auto 55vw auto;
            opacity: 0;
            position: relative;
            transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
            transition-delay: 1.2s;

            &:after {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                z-index: 2;
                width: 64px;
                height: 64px;
                display: block;
                background: url(../images/rotate-display-icon2.svg) no-repeat top left;
                animation: rotate 2s infinite forwards;
                animation-play-state: running;
            }

            &:before {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                z-index: 4;
                width: 64px;
                height: 64px;
                display: block;
                background: url(../images/rotate-display-icon.svg) no-repeat top left;
            }
        }

        &.active {
            opacity: 1;
            z-index: 9999;
            display: block;

            h1,
            h2 {opacity: 1;top: 0;}

            span {
                margin: 11vw auto 3vw auto;
                opacity: 1;
            }
        }
    }
}

@import "components/header.less";
@import "components/hero-banner.less";
@import "components/introduction-section.less";
@import "components/estate-master-plan.less";
@import "components/gallery.less";
@import "components/contact-section.less";
@import "components/video-section.less";
@import "components/footer.less";
