
/* PRIMARY COLOURS */
@col-white:#ffffff;
@col-offwhite:#F4F4F4;
@col-grey:#272727;
@col-secondary-grey:#9A9A9A;
@col-light-grey:#E1E1E1;
@col-dark-grey:#333333;
@col-gold:#D0A36E;
@col-duck-blue:#003B45;

@CochinLTStd:'Cochin-LT-Std', helvetica, sans-serif;
@JosefinSansReg:'Josefin Sans', helvetica, sans-serif;
