@import "../variables.less";
@import "../mixins.less";

section#contact-us-section{
    width:100%;
    max-width: 660px;
    padding:75px 0;
    margin:0 auto;

    h2{text-transform: uppercase;}

    p{
        max-width: 660px;
        padding:40px 20px;
        text-align: center;
        color: @col-grey;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 25px;
        text-align: center;
    }

    .contact-info{
        width: 100%;
        float: left;
        padding:0 0 20px 0;

        label{
            float: right;
            figure{padding-right:10px;}
        }

        label, a{
            color: #272727;
            font-family: @JosefinSansReg;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 28px;

            figure{padding-right:10px;}

            @media screen and (max-device-width: 767px) {
                width: 100%;
                text-align: left;
                display: inline; 
                margin:5px 0;               
            }
        }
    }

    form#contact-us{
        .row{
            display: block;
            margin:0 0 30px 0;
            clear: both;

            @media screen and (max-width: 767px) {
                margin:0 0 15px 0;
            }

            div{
                padding:0;
                margin:0 0 30px 0;

                @media screen and (max-width: 767px) {
                    margin:0 0 15px 0;
                }

                &.col-md-6.col-lg-6{
                    width:48%; 
                    max-width: 48%;

                    @media screen and (max-width: 767px) {
                        width:100%; 
                        max-width: 100%;
                    }
                }
                
                input[type="text"]{
                    @media screen and (max-device-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }

        input#last-name{float: right;}
        
        input[type="text"],
        input[type="email"],
        input[type="tel"]{
            width: 100%;
            height:50px;
            color: #272727;
            font-family: @JosefinSansReg;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 50px;
            padding:0 20px;
            border:solid 2px #E1E1E1;
            background: @col-white;
            .border-radius(2px);
        }

        textarea{
            width: 100%;
            height:140px;
            color: #272727;
            font-family: @JosefinSansReg;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 50px;
            padding:0 20px 20px 20px;
            border:solid 2px #E1E1E1;
            background: @col-white;
        }

        span.char-count{
            font-family: "Josefin Sans";
            color: @col-secondary-grey;
            font-size: 15px;
            letter-spacing: 0;
            line-height: 28px;
            text-align: right;
        }

        input[type="submit"]{
            margin-top:40px;
        }
        
        .errorMessage {
            background-color: #e66262;
            border: #AA4502 1px solid;
            padding: 5px 10px;
            color: #FFFFFF;
            .border-radius(3px);
        }
        
        .successMessage {
            background-color: #9fd2a1;
            border: #91bf93 1px solid;
            padding: 5px 10px;
            color: #3d503d;
            border-radius: 3px;
            cursor: pointer;
            font-size: 0.9em;
        }
        
        span.info {
            font-family: "Josefin Sans";
            color: @col-secondary-grey;
            font-size: 15px;
            letter-spacing: 0;
            line-height: 28px;
            color: #e66262;
        }
    }
    
}

#thankyouModal{

    .modal-dialog{

        @media screen and (max-device-width: 767px) {
            width: 85%;
            margin:10% auto;
        }
    }
    
    .modal-content{
        width:100%;
        max-width: 500px;
        margin:0 auto;

    }

    .modal-header{
        h3{text-align: center;font-weight: bold;}
    }

    .modal-body{
        padding:45px;

        p{
            text-align: center;
        }
    }

}
