/* PRIMARY COLOURS */
section#contact-us-section {
  width: 100%;
  max-width: 660px;
  padding: 75px 0;
  margin: 0 auto;
}
section#contact-us-section h2 {
  text-transform: uppercase;
}
section#contact-us-section p {
  max-width: 660px;
  padding: 40px 20px;
  color: #272727;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
}
section#contact-us-section .contact-info {
  width: 100%;
  float: left;
  padding: 0 0 20px 0;
}
section#contact-us-section .contact-info label {
  float: right;
}
section#contact-us-section .contact-info label figure {
  padding-right: 10px;
}
section#contact-us-section .contact-info label,
section#contact-us-section .contact-info a {
  color: #272727;
  font-family: 'Josefin Sans', helvetica, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 28px;
}
section#contact-us-section .contact-info label figure,
section#contact-us-section .contact-info a figure {
  padding-right: 10px;
}
@media screen and (max-device-width: 767px) {
  section#contact-us-section .contact-info label,
  section#contact-us-section .contact-info a {
    width: 100%;
    text-align: left;
    display: inline;
    margin: 5px 0;
  }
}
section#contact-us-section form#contact-us .row {
  display: block;
  margin: 0 0 30px 0;
  clear: both;
}
@media screen and (max-width: 767px) {
  section#contact-us-section form#contact-us .row {
    margin: 0 0 15px 0;
  }
}
section#contact-us-section form#contact-us .row div {
  padding: 0;
  margin: 0 0 30px 0;
}
@media screen and (max-width: 767px) {
  section#contact-us-section form#contact-us .row div {
    margin: 0 0 15px 0;
  }
}
section#contact-us-section form#contact-us .row div.col-md-6.col-lg-6 {
  width: 48%;
  max-width: 48%;
}
@media screen and (max-width: 767px) {
  section#contact-us-section form#contact-us .row div.col-md-6.col-lg-6 {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-device-width: 767px) {
  section#contact-us-section form#contact-us .row div input[type="text"] {
    width: 100%;
  }
}
section#contact-us-section form#contact-us input#last-name {
  float: right;
}
section#contact-us-section form#contact-us input[type="text"],
section#contact-us-section form#contact-us input[type="email"],
section#contact-us-section form#contact-us input[type="tel"] {
  width: 100%;
  height: 50px;
  color: #272727;
  font-family: 'Josefin Sans', helvetica, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 50px;
  padding: 0 20px;
  border: solid 2px #E1E1E1;
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
section#contact-us-section form#contact-us textarea {
  width: 100%;
  height: 140px;
  color: #272727;
  font-family: 'Josefin Sans', helvetica, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 50px;
  padding: 0 20px 20px 20px;
  border: solid 2px #E1E1E1;
  background: #ffffff;
}
section#contact-us-section form#contact-us span.char-count {
  font-family: "Josefin Sans";
  color: #9A9A9A;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: right;
}
section#contact-us-section form#contact-us input[type="submit"] {
  margin-top: 40px;
}
section#contact-us-section form#contact-us .errorMessage {
  background-color: #e66262;
  border: #AA4502 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
section#contact-us-section form#contact-us .successMessage {
  background-color: #9fd2a1;
  border: #91bf93 1px solid;
  padding: 5px 10px;
  color: #3d503d;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
}
section#contact-us-section form#contact-us span.info {
  font-family: "Josefin Sans";
  color: #9A9A9A;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 28px;
  color: #e66262;
}
@media screen and (max-device-width: 767px) {
  #thankyouModal .modal-dialog {
    width: 85%;
    margin: 10% auto;
  }
}
#thankyouModal .modal-content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
#thankyouModal .modal-header h3 {
  text-align: center;
  font-weight: bold;
}
#thankyouModal .modal-body {
  padding: 45px;
}
#thankyouModal .modal-body p {
  text-align: center;
}
