.modal-container {
  padding: 2rem 0rem;
}

.modal-dialog {
  margin-top: 0rem;
  max-width: 100%;
}
.modal-dialog .modal-content {
  border-radius: 0rem;
  width: 90%; 
  height: auto; 
  padding: 2rem; 
  position: absolute; 
  left: 50%; 
  top: 100px; 
  transform: translate(-50%, 0); 
  background-color: white; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
  z-index: 501;
}

.modal-dialog .cookieTitle {
  padding: 20px 0;
  display: block;
}

.modal-dialog .cookieMessage {
  font-size: 18px;
  display: block;
}

.modal-dialog .buttons {
  float: right;
  width: auto;
}

.modal-dialog .buttons .btn {
  background-color: #AFE0ED;
  border: none;
  border-radius: 3px;
  width: 150px;
  margin-left: 0.5rem;
}
