@import "../variables.less";
@import "../mixins.less";

section#estate-master-plan-section{
    padding:105px 0 ;
    background: @col-white;

    h2{
        text-transform: uppercase;
    }

    #view-site-location-btn{
        margin:50px auto;
    }

    #EstateModal{
        border:none;

        .modal-content{
            width:100%;
            max-width: 1278px;
            margin: 0 auto;
            border:none;
            background: transparent;

            @media screen and (max-width: 767px) {
                max-width: 100%;
            }

            .modal-header{
                padding: 0 0 15px 0;
                border:none;
                background: transparent;

                h3{
                    text-transform: uppercase;
                    color:@col-white;
                }

                button.close{
                    font-family: @JosefinSansReg;
                    font-size:30px;
                    font-weight: 300;
                }
            }

            .modal-body{
                figure{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }

            .modal-footer{
                border-top: none;
                background: transparent;

                #download-site-location-btn{
                    width: 310px;
                    margin:40px auto 0 auto;
                }
            }
        }
        
        @media screen and (min-width: 900px) and (max-width: 1024px) {
            max-width: 100%;
            padding: 0 15px;
        }

        @media screen and (min-width: 768px)  and (max-width: 768px) {
            max-width: 100%;
            padding: 0 15px;
        }

        @media screen and (max-width: 560px) {
            max-width: 100%;
            padding: 0 15px;

            .modal-header{

                button.close{
                    right:0;
                }
            }
        }



    }
}
