/* PRIMARY COLOURS */
section#estate-master-plan-section {
  padding: 105px 0 ;
  background: #ffffff;
}
section#estate-master-plan-section h2 {
  text-transform: uppercase;
}
section#estate-master-plan-section #view-site-location-btn {
  margin: 50px auto;
}
section#estate-master-plan-section #EstateModal {
  border: none;
}
section#estate-master-plan-section #EstateModal .modal-content {
  width: 100%;
  max-width: 1278px;
  margin: 0 auto;
  border: none;
  background: transparent;
}
@media screen and (max-width: 767px) {
  section#estate-master-plan-section #EstateModal .modal-content {
    max-width: 100%;
  }
}
section#estate-master-plan-section #EstateModal .modal-content .modal-header {
  padding: 0 0 15px 0;
  border: none;
  background: transparent;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-header h3 {
  text-transform: uppercase;
  color: #ffffff;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-header button.close {
  font-family: 'Josefin Sans', helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-body figure {
  width: 100%;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-body figure img {
  width: 100%;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-footer {
  border-top: none;
  background: transparent;
}
section#estate-master-plan-section #EstateModal .modal-content .modal-footer #download-site-location-btn {
  width: 310px;
  margin: 40px auto 0 auto;
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
  section#estate-master-plan-section #EstateModal {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
  section#estate-master-plan-section #EstateModal {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media screen and (max-width: 560px) {
  section#estate-master-plan-section #EstateModal {
    max-width: 100%;
    padding: 0 15px;
  }
  section#estate-master-plan-section #EstateModal .modal-header button.close {
    right: 0;
  }
}
