@import "../variables.less";
@import "../mixins.less";

footer{
    padding: 90px 0;
    background: @col-grey;

    p{
        width: 100%;
        max-width: 570px;
        margin:0 auto;
        font-family: @JosefinSansReg;
        color: @col-white;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
    }

    p#copyright{
        font-family: @JosefinSansReg;
        color: @col-secondary-grey;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
        padding:45px 0 0 0;
    }

}