/* PRIMARY COLOURS */
footer {
  padding: 90px 0;
  background: #272727;
}
footer p {
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  font-family: 'Josefin Sans', helvetica, sans-serif;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
}
footer p#copyright {
  font-family: 'Josefin Sans', helvetica, sans-serif;
  color: #9A9A9A;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
  padding: 45px 0 0 0;
}
