/* PRIMARY COLOURS */
#saota-section {
  width: 100%;
  padding: 60px 0;
  background: #272727;
  overflow: hidden;
}
#saota-section p {
  width: 100%;
  max-width: 914px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 36px;
  margin: 0 auto;
}
section#gallery-section {
  width: 100%;
}
section#gallery-section .container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}
@media screen and (max-width: 767px) {
  section#gallery-section .container {
    max-width: unset;
    padding: inherit;
  }
}
section#gallery-section .gallery-slider button.slick-arrow {
  width: 80px;
  height: 80px;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  border: none;
  outline: none;
}
@media screen and (max-width: 767px) {
  section#gallery-section .gallery-slider button.slick-arrow {
    width: 60px;
    height: 60px;
    font-size: 16px;
  }
}
section#gallery-section .gallery-slider button.slick-arrow:focus {
  outline: none;
}
section#gallery-section .gallery-slider button.slick-arrow.slick-prev {
  right: 225px;
  background-color: #424242;
}
@media screen and (max-width: 767px) {
  section#gallery-section .gallery-slider button.slick-arrow.slick-prev {
    right: 0;
  }
}
section#gallery-section .gallery-slider button.slick-arrow.slick-next {
  right: 305px;
  background: #333333;
}
@media screen and (max-width: 767px) {
  section#gallery-section .gallery-slider button.slick-arrow.slick-next {
    right: 60px;
  }
}
section#gallery-section .gallery-slider .gallery-slide {
  width: 100%;
  max-height: 1056px;
}
@media screen and (max-width: 767px) {
  section#gallery-section .gallery-slider .gallery-slide {
    max-width: 100%;
  }
}
section#gallery-section .gallery-slider .gallery-slide figure img {
  width: 100%;
  object-fit: contain;
}
