@import "../variables.less";
@import "../mixins.less";


#saota-section{
    width: 100%;
    padding:60px 0;
    background: @col-grey;
    overflow: hidden;

    p{
        width: 100%;
        max-width: 914px;
        font-size: 20px;
        color: @col-white;
        text-align: center;
        line-height: 36px;
        margin:0 auto;
    }
}

section#gallery-section{
    width: 100%;
    
    .container{
        width: 100%;
        max-width: 100%;
        padding:0;

        @media screen and (max-width: 767px) {
            max-width: unset;
            padding:inherit;
        }
    }

    .gallery-slider{
        button.slick-arrow{
            width:80px;
            height:80px;
            color: @col-white;
            font-size: 20px;
            position: absolute;
            bottom: 0;
            z-index: 10;
            border:none;
            outline:none;

            @media screen and (max-width: 767px) {
                width:60px;
                height:60px;
                font-size: 16px;
            }

            &:focus{outline:none;}

            
            &.slick-prev{
                right:225px;
                background-color: #424242;

                @media screen and (max-width: 767px) {
                    right:0;
                }
            }
    
            &.slick-next{
                right:305px;
                background:@col-dark-grey;

                @media screen and (max-width: 767px) {
                    right:60px;
                }
            }
        }

        .gallery-slide{
            width: 100%;
            max-height: 1056px;    
            
            @media screen and (max-width: 767px) {
                max-width: 100%;
            }

            figure{
                img {
                    width: 100%;
                    object-fit: contain;
                    
                }
            }
        }
    }
    
    
}
