/* PRIMARY COLOURS */
#hero-banner-section {
  min-height: 100vh;
  position: relative;
}
#hero-banner-section .hero-banner-slider {
  position: relative;
}
#hero-banner-section .hero-banner-slider .hero-slide {
  height: 100vh;
  position: relative;
  z-index: 10;
}
#hero-banner-section .hero-banner-slider .hero-slide .container {
  height: 100vh;
  position: relative;
  z-index: 11;
}
#hero-banner-section .hero-banner-slider .hero-slide .container h1 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-text-shadow: 0px 0px 4px #333333;
  -moz-text-shadow: 0px 0px 4px #333333;
  text-shadow: 0px 0px 4px #333333;
}
@media screen and (min-width: 1025px) {
  #hero-banner-section .hero-banner-slider .hero-slide .container h1 {
    font-size: 36px;
    letter-spacing: 5px;
  }
}
#hero-banner-section .hero-banner-slider .hero-slide .container #contact-us-btn {
  margin-top: 30px;
}
#hero-banner-section .hero-banner-slider #slide1 {
  background: url('../images/hero-images/banner-01.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide2 {
  background: url('../images/hero-images/banner-02.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide3 {
  background: url('../images/hero-images/banner-03.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide4 {
  background: url('../images/hero-images/banner-04.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide5 {
  background: url('../images/hero-images/banner-05.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider #slide6 {
  background: url('../images/hero-images/banner-06.jpg') no-repeat center center;
  background-size: cover;
}
#hero-banner-section .hero-banner-slider ul.slick-dots {
  max-width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li {
  width: calc(100% / 6);
  height: 50px;
  float: left;
  outline: none;
  position: relative;
  list-style: none;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:focus,
#hero-banner-section .hero-banner-slider ul.slick-dots li:hover {
  outline: none;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li a.pager__item {
  font-family: 'Josefin Sans', helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  position: absolute;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li a.pager__item {
    width: 78px;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: right;
    padding: 0 12px;
  }
}
#hero-banner-section .hero-banner-slider ul.slick-dots li a.pager__item:after {
  width: 2px;
  height: 34px;
  position: absolute;
  z-index: 999;
  left: 50px;
  top: 30px;
  content: '';
  background: #ffffff;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(1) a {
  right: -30px;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(1) a {
    right: -28px;
  }
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(2) a {
  right: -24px;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(2) a {
    right: -26px;
  }
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(3) a {
  right: -24px;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(3) a {
    right: -26px;
  }
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(4) a {
  right: -28px;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(5) a {
  right: -26px;
}
#hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(6) a {
  right: 0px;
}
@media screen and (max-width: 767px) {
  #hero-banner-section .hero-banner-slider ul.slick-dots li:nth-child(6) a {
    right: -16px;
  }
}
.progress {
  width: 100%;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  overflow: hidden;
  background-color: #272727;
  background-image: linear-gradient(to right, #D0A36E, #D0A36E);
  background: -moz-linear-gradient(#D0A36E 0%, #D0A36E 100%);
  background: -webkit-linear-gradient(#D0A36E 0%, #D0A36E 100%);
  background: linear-gradient(#D0A36E 0%, #D0A36E 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="@col-gold", endColorstr="@col-gold", GradientType=1);
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}
