@import "../variables.less";
@import "../mixins.less";

#hero-banner-section{
    min-height: 100vh;
    position: relative;

    .hero-banner-slider{
        position: relative;
        
        .hero-slide{
            height: 100vh;
            position: relative;
            z-index: 10;

            .container{
                height: 100vh;
                position: relative;
                z-index: 11;

                h1{
                    color: @col-white;
                    text-align: center;
                    text-transform: uppercase;
                    position: absolute;
                    top:50%;
                    left: 0;
                    right:0;
                    margin:0 auto;
                    .text-shadow(0px 0px 4px #333333);

                    @media screen and (min-width: 1025px) {
                        font-size: 36px;
                        letter-spacing: 5px;
                    }
                }    
                
                #contact-us-btn{margin-top: 30px;}
            }
        }

        #slide1{
            background: url('../images/hero-images/banner-01.jpg') no-repeat center center;
            background-size: cover;
        }

        #slide2{
            background: url('../images/hero-images/banner-02.jpg') no-repeat center center;
            background-size: cover;
        }

        #slide3{
            background: url('../images/hero-images/banner-03.jpg') no-repeat center center;
            background-size: cover;
        }

        #slide4{
            background: url('../images/hero-images/banner-04.jpg') no-repeat center center;
            background-size: cover;
        }

        #slide5{
            background: url('../images/hero-images/banner-05.jpg') no-repeat center center;
            background-size: cover;
        }

        #slide6{
            background: url('../images/hero-images/banner-06.jpg') no-repeat center center;
            background-size: cover;
        }

        ul.slick-dots{
            max-width: 100%;
            position: absolute;
            bottom: 10px;
            left: 0;
            right:0;
            margin: 0 auto;

            li{
                width:calc(100% / 6);
                height:50px;
                float: left;
                outline:none;
                position: relative;
                list-style: none;

                &:focus,&:hover{outline:none;}

                a.pager__item{
                    font-family: @JosefinSansReg;
                    font-size: 18px;
                    color: @col-white;
                    font-weight: normal;
                    position: absolute;
                    
                    @media screen and (max-width: 767px) {
                        width: 78px;
                        font-size: 14px;
                        white-space: pre-wrap;
                        text-align: right;
                        padding: 0 12px;
                    }

                    &:after{
                        width: 2px;
                        height: 34px;
                        position: absolute;
                        z-index: 999;
                        left:50px;
                        top: 30px;
                        content: '';
                        background: @col-white;                        
                    }
                }

                &:nth-child(1) a{
                    right:-30px;
                    @media screen and (max-width: 767px) {
                        right:-28px;
                    }
                }
                &:nth-child(2) a{
                    right:-24px;
                    @media screen and (max-width: 767px) {
                        right:-26px;
                    }
                }
                &:nth-child(3) a{
                    right:-24px;
                    @media screen and (max-width: 767px) {
                        right:-26px;
                    }
                }
                &:nth-child(4) a{right:-28px;}
                &:nth-child(5) a{right:-26px;}
                &:nth-child(6) a{
                    right:0px;
                    @media screen and (max-width: 767px) {
                        right:-16px;
                    }
                }
            }
        }
    }
}

.progress {
    width: 100%;
    height: 10px;
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 11;
    overflow: hidden;
    background-color: @col-grey;
    background-image: linear-gradient(to right,@col-gold, @col-gold);
    background: -moz-linear-gradient(@col-gold 0%, @col-gold 100%);
    background: -webkit-linear-gradient(@col-gold 0%, @col-gold 100%);
    background: linear-gradient(@col-gold 0%, @col-gold 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="@col-gold",endColorstr="@col-gold",GradientType=1);
    background-repeat: no-repeat;
    transition: background-size .4s ease-in-out;
}


