/* PRIMARY COLOURS */
section#introduction-section {
  padding: 105px 0 ;
  background: #F4F4F4;
}
section#introduction-section p {
  width: 100%;
  max-width: 1019px;
  font-family: 'Josefin Sans', helvetica, sans-serif;
  color: #272727;
  font-size: 25px;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
}
@media screen and (max-width: 766px) {
  section#introduction-section p {
    width: 100%;
    font-size: 17px;
    line-height: 26px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 766px) {
  section#introduction-section {
    padding: 48px 0 ;
  }
}
