@import "../variables.less";
@import "../mixins.less";

section#introduction-section{
    padding:105px 0 ;
    background: @col-offwhite;

    p{
        width:100%;
        max-width: 1019px;
        font-family: @JosefinSansReg;
        color: @col-grey;
        font-size: 25px;
        font-weight: 300;
        line-height: 39px;
        text-align: center;

        @media screen and (max-width: 766px)  {
            width:100%;
            font-size: 17px;
            line-height: 26px;
            padding:0 15px;
        }
    }

    @media screen and (max-width: 766px)  {
        padding:48px 0 ;
    }
}