/* PRIMARY COLOURS */
section#video-section {
  height: 615px;
  background: url(../images/The-Ridge-Estate-video-section.jpg) no-repeat center center;
}
section#video-section button#play-btn {
  width: 80px;
  height: 80px;
  border: none;
  display: block;
  margin: 240px auto 50px auto;
  background: transparent;
  outline: none;
}
section#video-section button#play-btn:focus {
  outline: none;
}
section#video-section button#play-btn figure {
  width: 80px;
  height: 80px;
}
section#video-section h3 {
  font-family: 'Cochin-LT-Std', helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  -webkit-text-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.5);
}
#VideoModal .modal-content {
  background: transparent;
}
#VideoModal .modal-content .modal-header {
  background: transparent;
  border: none;
}
#VideoModal .modal-content .modal-header .close {
  right: 0;
}
