@import "../variables.less";
@import "../mixins.less";

section#video-section{
    height:615px;
    background: url(../images/The-Ridge-Estate-video-section.jpg) no-repeat center center;

    button#play-btn{
        width:80px;
        height:80px;
        border:none;
        display: block;
        margin:240px auto 50px auto;
        background: transparent;
        outline: none;
        
        &:focus{outline:none;}

        figure{width:80px;height:80px;}
    }

    h3{
        font-family: @CochinLTStd;
        color:@col-white;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 5px;
        .text-shadow(0 2px 13px 0 rgba(0,0,0,0.5));
    }
}

#VideoModal{
    .modal-content{
        background: transparent;
        .modal-header{
            background: transparent;
            border:none;
            .close{right:0;}
        }
    }
}
